#Files to ignore:
ExpertController.py
play.py
play2.py
.vscode
.DS_Store
Data/Models/energy_shaping_lqr_model.pth
Data/Models/P(a)_KDE.pkl
Data/Models/P(a)KDE.pkl
Envs/Pendulum/DDPG/ExpertMethod.py
Envs/Pendulum/DDPG/train_expert_method.py
MiscFunctions/NoiseModeling.py
scripts/run_expert_training.sh

#Folders to ignore:
Data*/
Envs/Ant
Metrics
TrainedModels
*.egg-info/
__pycache__/
*.pyc
*.pyo
*.pyd
